body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

}

.component {
  border: 1px solid hotpink;
  background-color: black;
  color: white;
  font-family: 'Major Mono Display', monospace;
  /* font-family: 'Noto Sans JP', sans-serif; */
}

/* .login-register {

} */

.logo {
  height: 250px;
  padding: 20px;
  /* display: flex; */
  /* align-self: center; */
  text-align: center;
}

.nav {
  height: 20px;
}

.bottom-container{
  display: flex;
}

.menu {
  padding: 20px;
  display: flex;
  flex-grow: 3;
  flex-shrink: 3;
  flex-direction: column;
  min-width: 600px;
}


.all-menu-items {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  /* border: 1px solid rgba(255, 105, 180, 0.338); */
  transition: background-color .5s;
}

.menu-item:hover {
  background: rgba(255, 110, 202, 0.605);
}

.menu-img {
  border: 1px solid hotpink;
  width: 15%;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

.menu-img:hover {
  width: 20%;
}

.order {
  padding: 20px;
  display: flex;
  flex-basis: auto;
  flex-grow: 2;
  flex-direction: column;
  min-width: 560px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
